<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MercadoLiebreMARIANO</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <header>
      <div class="top__header">
          <div class="logo__container">
              <a href="/"> <img class="logo" src="/images/logo-mercado-liebre.svg"></a>
          <form action="#" method="get">
              <input class="search" type="search" name="búsqueda" placeholder="Buscar productos, marcas"></input>
                <div class="lupa__">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
            <div>
                <p class= "manodolar"><i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
        </div>
            <nav class="barra__main">
                <ul class="listanav__left">
                    <li><a href="#Ofertas">Ofertas</a></li>
                    <li><a href="#Tiendas">Tiendas</a></li>
                    <li><a href="#Vender">Vender</a></li>
                    <li><a href="#Ayuda">Ayuda</a></li>
                </ul>
                <ul class="listanav__right>
                  <li><a href="/views/register.html">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                  <li><a href="/views/login.html">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
                <li><a href="#Compras">Compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
            </nav>
            <div class="burger__menu"><i class="fas fa-bars"></i></div>
  </header>
  <div class="container-image">
      <img class="prod__img" src="../images/img-home-banner.jpg">
  </div>
  <main class="container__main">
      <section class="last__visit">
        <h3 class="titles">Basado en tu última visita</h3>
        <div class="productos">
          <article class="card">
            <img class="prod__img" src="../images/img-cafetera-moulinex.jpg">
            <div class="article-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$6.770</p>
              <p class="descuento">40% OFF</p>
              <p class="descripcion">Cafetera Moulinex</p>
          </div>
          </article>
          <article class="card">
            <img class="prod__img" src="../images/img-macbook-pro-2019.jpg">
              <div class="article-main">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
              </div>
          </article>
          <article class="card">
            <img class="prod__img" src="../images/img-samsung-galaxy-s10.jpg">
              <div class="article-main">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
              </div>
            </article>
          <article class="card">
            <img class="prod__img" src="../images/img-tv-samsung-smart.jpg">
              <div class="article-main">
                  <i class="fa-solid fa-truck"></i>
                  <p class="precio">$23.200</p>
                  <p class="descuento">5% OFF</p>
                  <p class="descripcion">SmartTv Samsung 43"</p>
              </div>
      </article>
      </section>
      <section>
          <h3 class="titles">Sección de ofertas</h3>
          <div class="productos">
          <article class="card">
            <img class="prod__img" src="../images/img-cafetera-moulinex.jpg">
              <div class="article-main">
                  <i class="fa-solid fa-truck"></i>
                  <p class="precio">$6.770</p>
                  <p class="descuento">40% off</p>
                  <p class="descripcion">Cafetera Moulinex</p>
                </div>
          </article>
           <article class="card">
            <img class="prod__img" src="../images/img-macbook-pro-2019.jpg">
              <div class="article-main">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">MacBook Pro 2019</p>
              </div>
          </article>
          <article class="card">
            <img class="prod__img" src="../images/img-samsung-galaxy-s10.jpg">
              <div class="article-main">
                      <i class="fa-solid fa-truck"></i>
                      <p class="precio">$70.500</p>
                      <p class="descuento">10% off</p>
                      <p class="descripcion">Samsung Galaxy S10</p>
                  </div>
          </article>
          <article class="card">
            <img class="prod__img" src="../images/img-tv-samsung-smart.jpg">
              <div class="article-main">
                      <i class="fa-solid fa-truck"></i>
                      <p class="precio">$23.200</p>
                      <p class="descuento">5% off</p>
                      <p class="descripcion">SmartTv Samsung 43"</p>
              </div>
          </article>
        </section>
    </main>
    <footer>
      <section class="footer__container">
        <article class="footer__item">
          <i class="fa-solid fa-credit-card footer-icon"></i>
          <h3 class="footer__title">Pagá con tarjeta o en efectivo</h3>
          <p class="footer__text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer__item">
          <i class="fa-solid fa-gift footer-icon"></i>
          <h3 class="footer__title">Envío gratis desde $ 2.500</h3>
          <p class="footer__text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer__item">
          <i class="fa-solid fa-user-shield footer-icon"></i>
          <h3 class="footer__title">Seguridad, de principio a fin</h3>
          <p class="footer__text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <br>
        <br>
        <div class="Copyright">
          <br>
          <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </div>
      </section>
    </footer>
  </body>


</html>



